<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929069447696-44hs9k9k9alhonjdlpstbqe8q31rbgce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929069447696-44hs9k9k9alhonjdlpstbqe8q31rbgce</string>
	<key>API_KEY</key>
	<string>AIzaSyA5rgqq59QKqgek1Y6GJz9YGUNPep1cFiM</string>
	<key>GCM_SENDER_ID</key>
	<string>929069447696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ulGord.museum</string>
	<key>PROJECT_ID</key>
	<string>paper-museum</string>
	<key>STORAGE_BUCKET</key>
	<string>paper-museum.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929069447696:ios:4fd43d4281e61137556895</string>
</dict>
</plist>